body {
  width: 275px;
  font-size: 87%;
  font-family: Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif;
  margin: 10px;
  background-color: #C0EEFF;
}

.command-group {
  background-color: #58D6D5;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}

select {
  background-color: #fff;
  text-align: left;
  color: #ccc;
  font-size: 14px;
  padding: 5px;
  border-radius: 15px;
  width: 150px;
  color: #DF8939;
}

h2 {
  font-size: 20px;
  color: #8AB846;
  text-shadow: #6374AB 1px 1px 1px;
  padding-left: 20px;
  background: url('/img/icon16.png') left center no-repeat;
}

canvas {
  display: block;
  background-color: #fff;
  border: 1px solid #eee;
}